<div style="margin-top:20px;" class="text-center">
    <h1>Przykro mi! Niepoprawna odpowiedź</h1>
    <h3>Poprawna to: @TempData["ans"]</h3>

    <a style="margin-top:10px;" asp-action="Index" asp-controller="Home" class="btn btn-success">NOWA GRA</a>
</div>