@model Question

    <div style="margin-top:20px;" class="text-center">
        <h1>Twoja odpowiedź jest poprawna!</h1>
        <h3 class="text-success goodAnswer">Pieniądze wracają do ciebie.</h3>

        <a style="margin-top:10px;" asp-action="QuestionChoice" asp-controller="Game" class="btn btn-success">Następne</a>
    </div> 