<div style="margin-top:20px;" class="text-center">
    <h1>Gratulacje @QuestionDatas.Player.Surname wygrałaś/eś w Postaw na Milion</h1>
    <h3>Twoja pozostała kasa to @Player.Amount PLN</h3>
    <a class="w-50 h-75 btn btn-primary" asp-controller="Home" asp-action="AddToScore">Dodaj wynik</a>
    <a style="margin-top:20px" class="w-50 h-75 btn btn-success" asp-controller="Home" asp-action="EndWithoutScore">Strona Główna</a>
</div>