@model PostawNaMilion.ViewModels.ScoresViewModel

@{
    ViewData["Title"] = "Score Table";
}

<table style="margin: 150px auto;" class="table text-center text-uppercase table-dark table-bordered w-100">
    <thead class="thead-light">
    <th class="text-center">Nr.</th>
    <th class="text-center">Name</th>
    <th class="text-center">Surname</th>
    <th class="text-center">Points</th>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var p in Model.Players)
            {
                <tr>
                    <td>@i</td>
                    <td>@p.Name</td>
                    <td>
                        @p.Surname
                    </td>
                    <td>@p.Points</td>
                </tr>
                i++;
            }
        }

    </tbody>
</table>

<div class="col-md-5 text-center">
    <a style="color:white;" class="btn btn-primary buttonStart" asp-action="Index">Strona Główna</a>
</div>